html{
    background-image: url("imagenes/Pokemon-fondo.jpg");
}
body{
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
canvas{
    background: rgb(95, 95, 252);
    border: solid blue 2px;
}

h1{
    color: white;
    background: rgb(95, 95, 252);
    border: solid blue 2px;
}

h2{
    color: white;
    background: rgb(95, 95, 252);
    border: solid blue 2px;
}